page-home {
  $font: 30px;
  .homeTitle {
    font-size: $font;
  }
  .myContent {
    background: linear-gradient(to bottom, #00ccff 0%, #ccffff 100%);
  }
  .cardContent {
    background-color: #ccffff;
    p {
      color:navy;
    }
  }
  $toolbar-md-title-text-color: #777;
}
